*, html{
    box-sizing:border-box;
    padding:0;
    margin:0;
}

html{
    height:100%;
}

body{
    max-width:1992px;
    margin:auto;
    overflow-x:hidden;
    overflow-y:scroll;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot?7l7c5d');
  src:  url('../../fonts/icomoon.eot?7l7c5d#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?7l7c5d') format('truetype'),
    url('../../fonts/icomoon.woff?7l7c5d') format('woff'),
    url('../../fonts/icomoon.svg?7l7c5d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil2:before {
  content: "\e906";
}
.icon-profile:before {
  content: "\e923";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-mail2:before {
  content: "\ea84";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-behance:before {
  content: "\eaa8";
}





.clear-fix{
    *zoom:1;
    &::before,&::after{
        content:"";
        display:table;
    }
    &::after{
        clear:both;
    }
}

i{
    font-style:italic;
}

a{
    color:lighten($azul,30%);
}

img {
	display: block;
	max-width: 100%;
}

h1{
    @include tipo-2(40);
    font-weight:bold;
    text-align:center;
    color:darken($azul,30%);
    margin-bottom:50px;
}

.texto-leitura{
    @include tipo-1(18);
    color:darken($azul,30%);
    margin-bottom:20px;
}

.btn-container{
    display:flex;
    justify-content:center;
    width:100%;
    margin-top:30px;
    text-transform:uppercase;
    
    .btn-cinza{
        vertical-align:top;
        padding:13px 65px;
        color:$cinza-escuro;
        @include tipo-2(14);
        font-weight:bold;
        border-radius:5px;
        background-color:none;
        background:none;
        border:2px solid $cinza-escuro;
        text-decoration:none;
        -webkit-transition:0.5s;
        margin:0px 20px;
        &:hover{
            -webkit-transition:0.5s;
            background-color:$cinza-escuro;
            color:white;
        }
    }
    
        .btn-azul{
        vertical-align:top;
        padding:13px 65px;
        color:$cinza-escuro;
        @include tipo-2(14);
        font-weight:bold;
        border-radius:5px;
        background-color:none;
        background:none;
        border:2px solid $azul;
        text-decoration:none;
        -webkit-transition:0.5s;
            margin:0px 20px;
        &:hover{
            -webkit-transition:0.5s;
            background-color:$azul;
            color:white;
        }
    }
    
        .btn-amarelo{
        vertical-align:top;
        padding:13px 65px;
        color:$cinza-escuro;
        @include tipo-2(14);
        font-weight:bold;
        border-radius:5px;
        background-color:none;
        background:none;
        border:2px solid $amarelo;
        text-decoration:none;
        -webkit-transition:0.5s;
            margin:0px 20px;
        &:hover{
            -webkit-transition:0.5s;
            background-color:$amarelo;
            color:white;
        }
    }
}



.header{
    width:100%;
    padding:10px 0;
    background-color:$branco;
    z-index:999;

    
    .header-logo{
        float:left;
        width:230px;
        margin-left:calc(10px + 5%);

        .logo{
        width:250px;
        }
        
    }
    
    .menu-nav{
        float:right;
        text-align: right;
        padding: 15px 0 0 0;
        margin-right:calc(10px + 5%);

        ul {
            padding: 0px;
            margin: 0px;

            li {
                display: inline-block;
                text-align: right; 

                .menu-link{
                    @include tipo-2(16);
                    color:$cinza-claro;
                    text-decoration:none;
                    font-weight:bold;
                    margin-left:20px;
                    padding:20px 0;

                 }

                 .menu-active{
                    color:$azul;
                 }


            }   
        }
    } 
    
    @include d(s){
        display:none;
    }
    @include d(m){
        display:none;
    }
    
}

.mobile-header{
    width:100%;
    background-color:$branco;
    z-index:500;
    display:none;
    
        .mb-header-section{
            width:100%;
            padding:10px 0;

            .header-logo{
                float:left;
                height:44.97px;
                margin-left:calc(10px + 5%);
                

                .logo{
                  height:44px;
                }

            }
            
            .mobile-btn{
                z-index:600;
            }
        }
    
        .mobile-nav{
            position:fixed;
            top:0;
            width:100vw;
            height:100vh;
            text-align:center;
            overflow:none;
            background-color:$branco;
            z-index:500;
            display:none;

           ul {
            padding: 0px;
            margin: 0px;
            width:100%;

                li {
                    display:block;
                    text-align: right;
                    width:100%;
                    text-align:center;
                    padding:30px;
                    transition:none;
                    
                    .menu-link{
                        display:block;
                        @include tipo-2(18);
                        color:$cinza-escuro;
                        text-decoration:none;
                        font-weight:bold;

                     }

                     .menu-active{
                        color:$azul;
                     }


               }   
            }
            
        }
    
    .mb-nav-active{
        display:block;
    }
    
    @include d(s){
        display:block;
    }
    @include d(m){
        display:block;
    }

} 
//MOBILE BTNNNNNNNNNNNNNNNNNNNNNNNNNN______________________________________________________________________________________________________
.mobile-btn {
	display: block;
	color: $cinza-escuro;
	width: 30px;
	height: 25px;
	border-top: 4px solid;
	margin: 10px 0 0 0;
	float: right;
	position: relative;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
    margin-right:calc(10px + 5%);
    
    &::after, &::before {
	content: '';
	display: block;
	height: 4px;
	margin-top: 6px;
	background: currentColor;
	position: relative;
	transition: transform .2s ease;
    }
    
}


.mb-btn-active {
	border-top-color: transparent;
    position:fixed;
    right:0;
    
    &::after {
	margin-top: 0px;
	top: 2px;
	transform: rotate(45deg);
    }

    &::before {
        margin-top: 0px;
        top: 6px;
        transform: rotate(135deg);
    }

    
}
//MOBILE BTNNNNNNNNNNNNNNNNNNNNNNNNNN______________________________________________________________________________________________________
//BTN BACK TO TOP
#back-top{
    background-color:$cinza-escuro;
    position:fixed;
    padding:10px 9.8px 6px 10px;
    bottom:62px;
    right:calc(10px + 5%);
    text-decoration:none;
    font-size:30px;
    border-radius:15px;
    color:$branco;
    transition:0.5s;
    -moz-transition:0.5s;
    -webkit-transition:0.5s;
    display:none;
    
    &:hover{
        transition:0.5s;
        -moz-transition:0.5s;
        -webkit-transition:0.5s;
        color:$cinza-escuro;
        background-color:$amarelo;
    }
    
    @include d(s){
        right:calc(10px + 2.5%);
    }
}
//BTN BACK TO TOP

.footer{
    width:100%;
    background-color:$cinza-escuro;
    
    .redes-sociais{
        display:flex;
        justify-content:center;
        
        li{
            float:left;
             .rs-link{
                padding:15px 20px 10px 20px;
                display:inline-block;
                text-decoration:none;
                color:white;
                 font-size:20px;
                 cursor:pointer;
             }
            
             .facebook{
                 border-bottom:5px solid #283d68;
                 -webkit-transition:0.5s;
                 &:hover{
                    -webkit-transition:0.5s;
                    background-color:#283d68;
                 }
             }
            
            .behance{
                 border-bottom:5px solid #0080FF;
                 -webkit-transition:0.5s;
                 &:hover{
                    -webkit-transition:0.5s;
                    background-color:#0080FF;
                 }
             }
            
            .whatsapp{
                 border-bottom:5px solid #14dd69;
                 -webkit-transition:0.5s;
                 &:hover{
                    -webkit-transition:0.5s;
                    background-color:#14dd69;
                 }
             }
            
        }
        
        .wpp-number{
            float:left;
            height:52px;
            display:none;
            background-color:#14dd69;
            text-align:center;
            .wpp-type{
                @include tipo-2(18);
                font-weight:bold;
                color:$cinza-escuro;
                padding:14px 0;
            }
            
        }
    }
}







.js [data-anime] {
	opacity: 0;
	transform: translate3d(0,-50px,0);
	transition: 1s;
}

.js [data-anime2] {
	opacity: 0;
	transition: 1.5s;
}

.js [data-anime].animate {
	opacity: 1;
	transform: translate3d(0,0,0);
}

.js [data-anime2].animate {
	opacity: 1;
}








